Flask==3.0.0
opencv-python==4.8.1.78
mediapipe==0.10.33
numpy>=1.24.3
flask-socketio==5.3.4
python-socketio==5.9.0
python-engineio==4.8.0
gevent==23.9.1
gevent-websocket==0.10.1
eventlet>=0.33.3
scipy>=1.11.4
gunicorn==21.2.0
python-dotenv==1.0.0
